body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #e1daca;
}

.top-text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 50px;
}


.barbie-container {
    position: relative;
    display: inline-block;
}

.barbie-image {
    width: 300px;
}


.hotspot {
    position: absolute;
    background-color: rgba(255, 255, 255, 0); 
    cursor: pointer;
}


.head {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
}

.waist {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 30px;
}

.feet {
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 20px;
}


.popup {
    display: none;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    width: 150px;
}