* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #e1daca;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8em;
}


/* Tidslinje-container */
.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Juster til venstre */
}

/* Hvert tidslinje-element */
.timeline-item {
    position: relative;
    margin: 20px 0;
    width: 100%; /* Giver en bredde til elementerne */
}

/* Stort årstal */
.year {
    font-size: 100px; /* Størrelse på årstallet */
    font-weight: bold;
    margin-right: 20px; /* Plads til billede til højre */
    color: #3f51b5; /* Standard farve */
}

/* Specifikke farver for hver år */
.item-1900 .year { color: #f99128 ; } /* Farve for 1900 */
.item-1920 .year { color: #b29205; } /* Farve for 1920 */
.item-1940 .year { color: #0000ff; } /* Farve for 1940 */
.item-1950 .year { color: #afeeee; } /* Farve for 1950 */
.item-1960 .year { color: #00ff00; } /* Farve for 1960 */
.item-1970 .year { color: #daa520; } /* Farve for 1970 */
.item-1980 .year { color: #ff64b4; } /* Farve for 1980 */
.item-1990 .year { color: #8b0000; } /* Farve for 1990 */
.item-2000 .year { color: #9370db; } /* Farve for 2000 */
.item-2010 .year { color: #000080; } /* Farve for 2010 */

/* Billede sektion */
.image-section {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.timeline-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.text-timeline {
    text-align: left;
    line-height: 1.5;
}

.scroll-indicator {
    position: fixed;
    top: 0; /* Fastgør den til toppen af vinduet */
    left: 0;
    width: 5px; /* Bredden af indikatoren */
    height: 0; /* Initial højde */
    background-color: #918674; /* Indikatorens farve */
    transition: height 0.2s ease; /* Glidende overgang for ændring i højden */
    z-index: 1000; /* Sørg for at indikatoren er over andre elementer */
}



/* Responsiv design */
@media (max-width: 600px) {
    .year {
        font-size: 3em; /* Juster størrelse til mobile enheder */
    }

    .circle {
        width: 20px; /* Mindre cirkel til mobile enheder */
        height: 20px;
        line-height: 20px;
    }
}
